@font-face {
    font-family: Ubuntu;
    src: url("../fonts/Ubuntu-R.ttf");
}
body{
    min-height: 100vh;
    color: black;
    background: white;
    font-family: Ubuntu !important;
}
*{
    scroll-behavior: smooth;
}
/*background properties for the install page*/
body#install{
    background-image: linear-gradient(to top,#ac887b, #c8ad7f);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
/*background properties for the install page*/
body#login{
    background-image: url("../img/macaroni.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
body#dashboard{
    background-color: white;
}
.container{
    width: 100%;
    position: relative;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}
.col{
    display: inline-block;
}
h2{
    font-size: 1.7em;
}
img.invert{
    filter: invert();
}
/*Feedback message properties*/
div.messages{
    text-align: center;
}
div.install{
    margin: 0 auto;
    text-align: center;
    padding: 5px  0;
    box-shadow: 0px 0px 4px gray;
}

/*Feedback Colors*/
.red{
    border-radius: 3px;
}
input.red{
    border-bottom-color: #e22a45;

}
button.red{
    background-color: #AA5E42;
    border-bottom-color: #AA5E42;
    border-left-color: #AA5E42;
}
button.red:hover{
    border-bottom-color: #99553B;
    border-left-color: #99553B;
}
div.red{
    padding: 3px;
    color: white;
    background: #e22a45;
}
.success{
    border-radius: 3px;
}
div.success{
    padding: 3px;
    color: white;
    background: #3DB39B;
    margin-top: 0.5em;
}
button.link{
    border: none;
    background-color: transparent;
    color: #0064f7;
    text-decoration: underline;
    transition: 0.5s;
}
button.link:hover{
    text-shadow: 0 0 1px grey;
}
button.icon{
    background-color: transparent;
    border:none;
}
/*Ui Elements*/
.radial{
    border-radius: 100%;
}
button.radial{
     border-radius: 100%;
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    display: inline-block;
    overflow: hidden;
 }
button.radial img{
    filter: invert();
}

.tableContent{
    width: 100%;
}
.tableContent td{
    text-align: center;
    margin: auto;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.tableContent th{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.box.centered{
    position: fixed;
    top: -50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    background-color: rgb(240,240,240);
    box-shadow: 1px 1px 10px grey;
    border-radius: 3px;
    padding: 10px;
    transition: 0.5s;
    opacity: 0;
    margin: 15px;
}
/*---Sign up form---*/
.signUp{
    margin: auto;
    position: relative;
    display: flex;
    max-width: 30em;
    justify-content: center;
    flex-direction: column;
    padding: 3px;
    text-align: center;
}
.install{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
/*---Global input element properties---*/
div.icon{
    display: flex;
}
form{
    overflow: hidden;
}
form a, form input, form input::placeholder,form select,form  button{
    flex-direction: column;
    max-width: 100%;
    transition: 0.3s;
    color: black;
    background-color: white;
    margin: 0.3em;
    padding: 0.3em;
    font-size: 1.1em;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;
}


form input, form select{
    border: none;
    text-align: left !important;
    border-bottom: 2px gray solid;
}
form input:focus, form select:hover, form select:focus{
    border-bottom: 2px black solid;
    transform: scale(1.05);
}

form input[type=file]{
    border: none;
}
form input[type=file]:focus{
    transform: none;
}
/*Contains properties for links and buttons*/
form button, form a{
    background-color: #7b7b7b;
    color: white;
    border: none;
    border-left: 3px solid #7b7b7b;
    border-bottom: 5px solid #7b7b7b;
    min-width: 10em;
    text-align: center;
}
form button.small{
    min-width: 0;
}
form button:hover, a:hover, a:focus{
    border-bottom-color: #656666;
    border-left-color: #656666;
    /*box-shadow: -5px 2px 5px black;*/
}
/*---Login page properties---*/
#login h2{
    text-align: center;
}
#loginBox{
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    border-radius: 3px;
    padding: 10px;
    background-image: linear-gradient(to top,#ac887b, #c8ad7f);
    box-shadow: 0 0 10px grey;
    display: inline-block;
}
/*---Navigation properties---*/
nav img{
    filter: invert();
    width: 100%;
}
img.profilePicture{
    filter: none;
}
nav #button{
    transition: 0.3s;
    position: fixed;
    background-image: linear-gradient(to right,#ac887b, rgba(200, 173, 127, 0.7));
    left: 0;
    padding: 0.7em;
    border-bottom-right-radius: 3px;
}
nav #button.open{
    left: 20em;
}
nav{
    z-index: 99999999999;
    overflow-x: hidden;
    transition: 0.5s;
    bottom: 0;
    left: -40em;
    position: fixed;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(to right, #ac887b, rgba(200, 173, 127, 0.7));
    height: 100vh;
    box-shadow: -6px 0px 20px gray;
    border-bottom-right-radius: 3px;
    width: 100%;
}
nav.open{
    left: 0;
}
nav #content{
    background-color: rgba(0,0,0,0.1);
    width: 100%;
    max-height: calc(100% - 3.5em);
    overflow: hidden;
}
nav #user{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-self: flex-end;
}
nav #user div{
    padding: 10px;
}
div.profilePicture{
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    overflow: hidden;
    filter: none;
    display: flex;
    align-items: center;
}
div.profilePicture img.profilePicture{
    filter: none;
    transform: scale(3);
}
nav #userButton{
    transition: 0.5s;
}
nav #userButton:hover{
    background-color: rgba(0,0,0,0.1);
}
nav section#userMenue{
    position: fixed;
    transition: 0.5s;
    right: 0;
    left: -100vw;
    right: 100vw;
    bottom: 4em;
}
nav section#userMenue.open{
    bottom: 4em;
    left: 0;
    right: 0;
}
nav section#userMenue form{
    text-align: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
nav section#userMenue button:nth-child(n){
    transition-delay: 0.5s;
}
/*Contains information about the nav bar that is is
used inside the administration panel for example
 */
nav.navbar{
    background-image: linear-gradient(to bottom,#ac887b, #c8ad7f);
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    height: 3em;
}
nav.navbar .buttons{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
nav.navbar a{
    color: white;
    display: inline-block;
    margin: 0.5em 0.7em;
}
nav.navbar .middle{
    margin: 0 auto;
}
nav.navbar .buttons .middle{
    border-left: 1px solid white;
    border-right: 1px solid white;
    display: flex;
}
nav.navbar .buttons .left{
    border-right: 1px solid white;
}
/*---Edit user Ui*/
div#editUser{
    z-index: 0;
    display: none;
    max-width: 30em;
}
div#pwBox{
    display: none;
    position: relative;
}
div#pwBox.open{
    display: flex;
    opacity: 1;
}
div#editUser.open{
    opacity: 1;
    top:50%;
    display: block;
}
div#editUser #profilePicture{
    height: 60px;
    width: 60px;
    margin: 15px auto;
    border-radius: 100%;
    box-shadow: 0px 0 10px grey;
    overflow: hidden;
    display: flex;
    align-items: center;
    cursor: pointer;
}
div#editUser #profilePicture img{
    width: 100%;
}
div#editUser #profilePicture img.profilePicture{
    width: 100%;
    transform: scale(3);
}
div#editUser button.userSettings{
    background-color: transparent;
    border:none;
}

div#editUser div#picUpload{
    display: none;
    overflow: hidden;
}
div#editUser div#picUpload.open{
    display: flex;
    opacity: 1;
}
#admin #content{
    margin: 5em auto;
    max-width: 1280px;
    width: 100vw;
    overflow-x: scroll;
}
#admin #content #apply{
    display: none;
}
#admin #content #apply.open{
    display: inline-block;
}

/*---Media queries---*/
@media screen and (min-width: 720px){
    .width50{
        max-width: calc(50%);
        margin: auto;
    }
    .signUp{
        width: 20em;
    }
    nav{
        width: 20em;
    }
    nav section#userMenue{
        max-width: 20em;
    }
}